.navbar-container {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 100vh; 
  padding: 10px;
  background-color: #f0f0f0; 
  border-right: 1px solid #e6e0e0; 
}

.s-head{
  color: sienna; 
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
  font-size: 30px;
}

.items{
  margin-top: 30px;
  place-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  width: 290px;
  height: 50px;
  color: rgb(74, 92, 185);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.sub-items{
  margin-top: 30px;
  place-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  width: 230px;
  height: 50px;
  color: rgb(74, 92, 185);
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;

}

.items:hover{
  background-color: #c3c9ca;
  color: rgb(61, 61, 61);
}

.sub-items:hover{
  background-color: #d3cdcd;
  color: rgb(63, 62, 62);
}

.navbar-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.navbar-items{
  margin: 5px 0;
}


.items:hover {
  background-color: #cfc8c8; 
}

.sub-items:hover {
  background-color: #cfc8c8; 
}