
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    padding: 40px;
  
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(90, 90, 90, 0.1);
    text-align: center;
    margin: 100px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.text-box {
    /* width: 250px; */
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #804646;
    border-radius: 5px;
    margin-top: 40px;
}

.submit {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color:#7e3d3d;
    color: white;
    cursor: pointer;
    font-size: large;
}

.submit:hover {
    background-color: #df380f;
}
label{
    color: #7e3d3d;
    font-size: large;
}
.head{
    color: #804646;
    font-size: 43px;
}
/* 
@media (max-width: 768px) {
    .container {
        width: 70%;
        padding: 15px;
    }

    .text-box {
        padding: 8px;
    }

    .button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .text-box {
        padding: 6px;
    }

    .button{
        padding: 6px 12px;
    }
} */


