/* UserHome.css */

.userhome-container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    overflow-y: hidden;
  }
  
  
  .main-content {
    padding: 20px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .userhome-container {
      flex-direction: column;
    }
  
    .navbar,
    .search-user {
      width: 100%;
    }
  
    .search-user {
      padding: 10px;
    }
  }
  
  /* For screens smaller than 480px (phones) */
  @media (max-width: 480px) {
    .navbar {
      font-size: 14px; /* Adjust font size if necessary */
    }

    .search-user {
      font-size: 14px; /* Adjust font size if necessary */
    }

  }