/* UserHome.css */

.userhome-container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    overflow-y: hidden;
  }
  
  
  .main-content {
    padding: 20px;
    width: 100%;
  }
  

